## Importando librerías

In [772]:
import pandas as pd
import numpy as np
import random
import string
from datetime import datetime
from scipy.stats import truncnorm

## Función 'days_between' para calcular el la diferencia entre 2 fechas, recibe como parámetros:
- d1: fecha mínima
- d2: fecha máxima

retorna:
- un 'int' que se refiere a la diferencia en días entre las dos fechas

In [773]:
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return (d2 - d1).days

## Función 'get_count' para calcular los valores posibles en caso de columnas numéricas, categóricas o dates, recibe como parámetros:
- col: la columna de la cual queremos calcular el total de valores

retorna:
- un 'int' el cual se refiere a la cantidad total de valores posibles

In [774]:
def get_count(col):
    if col['type'] == 'category':
        return len(col['values'])
    elif col['type'] == 'numeric':
        return col['values']['max'] - col['values']['min']
    elif col['type'] == 'date':
        return days_between(col['max'], col['min'])
    else:
        return None

## Función 'getRows' para calcular el número máximo de registros que tendrán el dataframe (Este función y las anteriores son implementadas o usadas solamente en los casos en los que la columna 'random' de cualquier configuración de dataframe sea False), recibe como parámetros:
- conf: la configuración del dataframe del cual queremos obtener la cantidad máxima de registros

retorna:
- un 'int' que corresponde al número mayor entre todos los posibles valores de cada columna

In [775]:
def getRows(conf):
    columns_total_values = [
        get_count(col) for col in conf['columns'] if get_count(col) is not None
    ]

    return max(columns_total_values)

## Función 'generate_unique_id' para crear un str de 16 caracteres de manera aleatoria
retorna:
- un 'str' el cual es un string de 16 caracteres, que pueden ser letras y números

In [776]:
def generate_unique_id():
    caracteres = string.ascii_letters + string.digits
    unique_id = ''.join(random.choices(caracteres, k=16))
    return unique_id

## Función 'generate_unique_ids' para crear 'n' str de 16 caracteres, donde 'n' es el número de registros máximos que tendrá el dataframe dependiendo de la configuración, recibe como parámetros:
- count: el número total de 'ids' que necesitamos

retorna:
- una 'list' que contiene todos los 'ids' distintos

In [777]:
def generate_unique_ids(count):
    unique_ids = set()
    while len(unique_ids) < count:
        unique_ids.add(generate_unique_id())
    return list(unique_ids)

## Función 'generate_truncated_normal_data' para calcular valores de columnas numéricas en caso de que exista media y desviación, recibe como parámetros:
- diccionario que contiene los valores estadísticos
- cantidad de valores que deseamos

retorna:
- un objeto 'list' que contiene todos los valores calculados a partir de la información estadística proporcionada

In [778]:
def generate_truncated_normal_data(min_val, max_val, mean, std, size):
    
    # Calcular los parámetros de la distribución normal truncada
    a, b = (min_val - mean) / std, (max_val - mean) / std
    data = truncnorm(a, b, loc=mean, scale=std).rvs(size)

    data = [int(i) for i in data]
    return data

## Función 'generate_col' para calcular cada una de las columnas de cualquier dataframe, esta función recibe como parámetros:
- col: se refiere a la configuración de la columna que deseamos crear.
- conf_list: es la lista de las configuraciones de dataframe, nos servirá para utilizar recursividad, ya que se necesitará para los casos donde existan llave foráneas.
- rows: se refiere al número de valores totales que tendrá nuestra columna.
- df_dict: este es un diccionario de dataframes. En los casos que existan llaves foráneas, nos servirá para verificar que el dataframe al que se hace referencia, ya ha sido creado, en caso contrario, lo crearemos y lo agregaremos a 'df_dict'

retorna: 
- un objeto 'Series' de pandas, el cual es la columna que deseabamos generar

In [779]:
def generate_col(col, conf_list, rows, df_dict):
    if col['type'] == "category":
        return random.choices(col['values'], k=rows)
    elif col['type'] == "numeric":
        if 'mean' in col['values'] and 'std' in col['values']:
            min = col['values']['min']
            max = col['values']['max']
            mean = col['values']['mean']
            std = col['values']['std']
            return generate_truncated_normal_data(min, max, mean, std, rows)
        return [int(random.uniform(col['values']['min'], col['values']['max'])) for i in range(rows)]
    elif col['type'] == "unique":
        return generate_unique_ids(rows)
    elif col['type'] == 'foreign':
        ds_name, col_name_ref = col['values'].split('.')
        if ds_name in df_dict:
            return random.choices(df_dict[ds_name][col_name_ref], k=rows)
        else:
            temp_conf = [c for c in conf_list if c['ds'] == ds_name]
            temp_df = build_dataframe(temp_conf[0], conf_list, df_dict)
            df_dict[ds_name] = temp_df
            return random.choices(df_dict[ds_name][col_name_ref], k=rows)
    else:
        raise ValueError("Tipo de columna no válida")

## Función 'build_dataframe' se utiliza para crear únicamente 1 dataframe, recibe como parámetros:
- conf: la configuración completa del dataframe a crear
- conf_list: la lista de configuraciones, servirá para enviar las configuraciones a 'fun' para los casos recursivos o de llave foránea.
- df_dict: enviamos la diccionarios de diccionarios para ser utilizado en 'fun' 

retorna:
- un objeto 'DataFrame' de pandas

In [780]:
def build_dataframe(conf, conf_list, df_dict):
    rows = conf.get('random_rows') if conf['random'] else getRows(conf)
    df = pd.DataFrame()

    for col in conf['columns']:
        df[col['name']] = generate_col(col, conf_list, rows, df_dict)
    
    return df

## Función 'build_dataframes' sirve para crear la lista funal de dataframes a partir de una lista de configuraciones, recibe solamente un parámetro:
- conf_list: lista de configuraciones de los dataframes a crear.

retorna:
- una 'list' que contiene los diccionarios generados a partir de las configuraciones proporcionadas

In [781]:
def build_dataframes(conf_list):
    df_dict = {}
    result = []

    for conf in conf_list:
        df = build_dataframe(conf, conf_list, df_dict)
        df_dict[conf['ds']] = df
        result.append(df)

    return result

## Ejemplo de uso

In [782]:
d1 = {
        "ds": "dataset1",
        "columns": [
            {
                "name": "segment",
                "type": "category",
                "values": ["Consumer", "Corporate", "Home Office"]
            },
            {
                "name": "id",
                "type": "unique"
            },
            {
                'name': 'test',
                'type': 'numeric',
                'values': {'min': 5, 'max':6}
            }
        ],
        "random": False
    }


d2 = {
        "ds": "dataset2",
        "columns": [
            {
                "name": "id",
                "type": "unique"
            },
            {
                "name": "segment",
                "type": "foreign",
                "values": "dataset1.segment"
            },
            {
                "name": "ship_mode",
                "type": "category",
                "values": ["First Class", "Same Day", "Second Class", "Standard Class"]
            }
        ],
        "random": False
    }


d3 = {
        "ds": "dataset3",
        "columns": [
            {
                "name": "id",
                "type": "unique"
            },
            {
                "name": "segment",
                "type": "foreign",
                "values": "dataset1.segment"
            },
            {
                "name": "ship_mode",
                "type": "foreign",
                "values": "dataset2.ship_mode"
            },
            {
                "name": 'country',
                'type': 'category',
                'values': ['USA', 'HON']
            },
            {
                'name': 'products_cat',
                'type': 'category',
                'values': ['Accesories', 'Art', 'Phones', 'Supplies', 'Chairs', 'Paper']
            },
            {
                'name': 'region',
                'type': 'category',
                'values': ['South', 'North']
            },
            {
                "name": "quantity",
                "type": "numeric",
                "values": {"min": 1, "max": 15}
            },
            {
                "name": "sale price",
                "type": "numeric",
                "values": {"min": 10, "max": 1500, "std": 300,
                "mean": 200}
            }
            ],
        "random": True,
        "random_rows": 1000
    }

configuration_list = [d2, d3, d1]

dataframe_list = build_dataframes(configuration_list)

dataframe_list

[                 id      segment       ship_mode
 0  8HLOzgymTnVYwa6M    Corporate  Standard Class
 1  iWtRHIUgwPTOFr6R  Home Office  Standard Class
 2  Wi6IXJ6W3QpPJC6S    Corporate        Same Day
 3  XjGdMtgxnu4WtlPl  Home Office     First Class,
                    id      segment       ship_mode country products_cat  \
 0    8AEJPHNti6zUPnvZ  Home Office  Standard Class     HON       Phones
 1    CoIIndigQvtKLIaf    Corporate  Standard Class     USA        Paper
 2    nQ4NJXUHtIbkyeJQ    Corporate  Standard Class     USA          Art
 3    k7LwLdchUIGrPLou    Corporate  Standard Class     HON   Accesories
 4    Tp74bMjnFxKe285E    Corporate  Standard Class     USA       Phones
 ..                ...          ...             ...     ...          ...
 995  yXjd1R44mIjnImoh    Corporate        Same Day     HON       Phones
 996  OxNosmMuoY0pLIZ9    Corporate        Same Day     HON   Accesories
 997  aoZQT8K5NO7mRNxz    Corporate        Same Day     HON       Phones
 998  4bD9E0c5rVdiJ9UH    Corporate        Same Day     HON        Paper
 999  1blen1atE1nkW0Vs  Home Office  Standard Class     USA       Phones

     region  quantity  sale price
 0    South         9         107
 1    North        10          34
 2    South         5          71
 3    South         3         422
 4    North        14         121
 ..     ...       ...         ...
 995  North         6         371
 996  South        13         543
 997  South        11         128
 998  South         9         398
 999  North        10         501

 [1000 rows x 8 columns],
      segment                id  test
 0   Consumer  XCCoV0ex2ONLRhEy     5
 1   Consumer  mOFpOycrOVjeKUFO     5
 2  Corporate  XqCon1pW3Rp38tna     5]

# Simulación de Dataset

In [783]:
simulation_extended = dataframe_list[1]

## Análisis Detallado

- Creamos una nueva columna para contabilizar las ocurrencias para cada combinacion distinta
- aggregation: contiene todas las distintas combinaciones entre segment', 'ship_mode', 'country' y 'products_cat', así como el total de ocurrencias que existen en el dataframe original.

He decidido no incluir únicamente la columna categórica 'region' ya que no me aporta información relevante para ser analizada, a diferencia de 'products_cat' que me proporciona más detalle de lo que nos habla el dataframe (que son ventas realizadas).

In [784]:


simulation_extended['n'] = 1

aggregation = (simulation_extended.
               groupby([
                   'segment',
                   'ship_mode',
                   'country',
                #    'region'
                   'products_cat'
               ], as_index = False)
               .agg({
                   'n': ['count']
               })
               )

aggregation

        segment       ship_mode country products_cat     n
                                                     count
0     Corporate     First Class     HON   Accesories    14
1     Corporate     First Class     HON          Art    17
2     Corporate     First Class     HON       Chairs    13
3     Corporate     First Class     HON        Paper    18
4     Corporate     First Class     HON       Phones     9
..          ...             ...     ...          ...   ...
67  Home Office  Standard Class     USA          Art    18
68  Home Office  Standard Class     USA       Chairs    13
69  Home Office  Standard Class     USA        Paper    16
70  Home Office  Standard Class     USA       Phones    13
71  Home Office  Standard Class     USA     Supplies    15

[72 rows x 5 columns]

- Renombramos las columnas de la agregación del paso anterior
- Calculamos las probabilidades de cada combinación, en base a la cantidad total que aparece la combinación en el dataframe original

In [785]:
aggregation.columns = ['segment', 'ship_mode', 'country', 'products_cat', 'count']
aggregation['probs'] = aggregation['count'] / simulation_extended.shape[0]

aggregation

        segment       ship_mode country products_cat  count  probs
0     Corporate     First Class     HON   Accesories     14  0.014
1     Corporate     First Class     HON          Art     17  0.017
2     Corporate     First Class     HON       Chairs     13  0.013
3     Corporate     First Class     HON        Paper     18  0.018
4     Corporate     First Class     HON       Phones      9  0.009
..          ...             ...     ...          ...    ...    ...
67  Home Office  Standard Class     USA          Art     18  0.018
68  Home Office  Standard Class     USA       Chairs     13  0.013
69  Home Office  Standard Class     USA        Paper     16  0.016
70  Home Office  Standard Class     USA       Phones     13  0.013
71  Home Office  Standard Class     USA     Supplies     15  0.015

[72 rows x 6 columns]

- Generamos una muestra aleatoria a partir de los indices de las combinaciones que están en 'agregation' y utilizando las probabilidades de cada combinación.
- randIndex: contiene los indices generados aleatoriamente.

In [786]:
randIndex = np.random.choice( 
    aggregation.index
    , size=10000 
    , p = list(aggregation['probs'])
)

- Visualizamos las filas del DataFrame 'agregation' cuyos índices están en randIndex, y solo incluye las columnas “segment”, "ship_mode", “country” y “products_cat”. Luego con .loc[2]: Selecciona la fila con el índice 2 de la selección anterior.

In [787]:
OneAreaSubarea = aggregation.loc[randIndex , ['segment', 'ship_mode', 'country', 'products_cat']].loc[2]

segment, ship_m, country, p_cat = OneAreaSubarea.iloc[0]

ship_m

'First Class'

A continuación del dataset original seleccionamos solamente los registros con las combinaciones:
- 'segment': 'Consumer'
- 'ship_mode': 'First Class'
- 'country': 'HON'
- 'products_cat': 'Chairs' 

y podemos ver que tiene 16 registros eso significa que 16/1,000 = 0.016 de representatividad en ese dataset de 1,000 registros

In [788]:
simulation_extended.loc[ 
    ( simulation_extended['segment'] == segment )
    &
    ( simulation_extended['ship_mode'] == ship_m )
    &
    ( simulation_extended['country'] == country )
    &
    ( simulation_extended['products_cat'] == p_cat )
, : ]

,id,segment,ship_mode,country,products_cat,region,quantity,sale price,n
36,vxpgXx1ovm6AfGKC,Corporate,First Class,HON,Chairs,North,6,925,1
86,GFM6mmTgeO6eZU32,Corporate,First Class,HON,Chairs,South,5,588,1
135,QYmBVz1J0R6KM02v,Corporate,First Class,HON,Chairs,North,6,782,1
215,wxAMDB78HwW5CrYE,Corporate,First Class,HON,Chairs,North,13,144,1
345,05ZScKU14c23kFK7,Corporate,First Class,HON,Chairs,South,2,79,1
385,Tjeb2S3ek024nDJX,Corporate,First Class,HON,Chairs,South,6,262,1
388,dD88LdlmCeZHkuT4,Corporate,First Class,HON,Chairs,North,2,446,1
436,pWt8SqRjTSZwyeXA,Corporate,First Class,HON,Chairs,South,5,56,1
594,KJaLoZtFe6Qjnr9W,Corporate,First Class,HON,Chairs,North,9,772,1
754,xMEUFOVI1QWs3VnB,Corporate,First Class,HON,Chairs,North,3,531,1
918,5duwslbfRxVXnubU,Corporate,First Class,HON,Chairs,South,1,102,1
920,QIV6TXm4IhsFYGJJ,Corporate,First Class,HON,Chairs,South,14,209,1
938,ESlRIfTlutLjx4LC,Corporate,First Class,HON,Chairs,North,12,525,1

Ahora, al dividir los registros totales de 'OneAreaSubarea' entre 10,000, observamos que obtenemos un valor muy cercano a la representatividad del dataset original

In [789]:
OneAreaSubarea.shape[0] / 10000

0.0129

In [790]:
quantityStats = simulation_extended.loc[ 
    ( simulation_extended['segment'] == segment )
    &
    ( simulation_extended['ship_mode'] == ship_m )
    &
    ( simulation_extended['country'] == country )
    &
    ( simulation_extended['products_cat'] == p_cat )
, : ].groupby(
    [ "segment" , "ship_mode", 'country', 'products_cat']
    , as_index = False
).agg(
    {
        "quantity": ["min","max","mean","std"]
    }
)

quantityStats.columns = ['segment', 'ship_mode', 'country', 'products_cat', 'min', 'max', 'mean', 'std']

quantityStats

     segment    ship_mode country products_cat  min  max      mean       std
0  Corporate  First Class     HON       Chairs    1   14  6.461538  4.313069

In [828]:
data = generate_truncated_normal_data(
    quantityStats["min"][0]
    , quantityStats["max"][0]
    , quantityStats["mean"][0]
    , quantityStats["std"][0]
    , OneAreaSubarea.shape[0]
)

data

129

In [829]:
OneAreaSubarea['quantity'] = data

OneAreaSubarea

      segment    ship_mode country products_cat  quantity
2   Corporate  First Class     HON       Chairs         3
2   Corporate  First Class     HON       Chairs         6
2   Corporate  First Class     HON       Chairs         8
2   Corporate  First Class     HON       Chairs         9
2   Corporate  First Class     HON       Chairs         1
..        ...          ...     ...          ...       ...
2   Corporate  First Class     HON       Chairs         6
2   Corporate  First Class     HON       Chairs         8
2   Corporate  First Class     HON       Chairs         7
2   Corporate  First Class     HON       Chairs         1
2   Corporate  First Class     HON       Chairs         9

[129 rows x 5 columns]

In [793]:
categories = ['segment', 'ship_mode', 'country', 'products_cat']

simulated = aggregation.loc[randIndex, categories]

column_name = 'quantity'

## Creación del dataset simulado

In [836]:
def get_categorical_dataset_simulated(simulation_extended, category_cols, size_):
    # Encontramos las diferentes combinaciones entre las columnas categóricas seleccionadas
    simulation_extended['n'] = 1

    newAgg = simulation_extended.groupby(
        category_cols, 
        as_index = False
    ).agg(
        {
            'n': ['count']
        }
    )

    cols = [c for c in category_cols]
    cols.extend(['count'])
    newAgg.columns = cols

    # Calculamos las probabilidades de cada combinación
    newAgg['prob'] = newAgg['count'] / simulation_extended.shape[0]

    # Creamos una lista de 100,000 elementos, dichos elementos son índices calculados a partir de las diferentes combinaciones y usando sus probabilidades
    randIndex = np.random.choice(
        aggregation.index,
        size=size_,
        p= list(newAgg['prob'])
    )

    # Creamos el dataset simulado seleccionando desde newAgg, los índices que aparecen en randIndex y eligiendo unicamente las columnas categóricas búscadas
    simulated = newAgg.loc[randIndex, category_cols]

    return simulated

In [840]:
category_cols = ['segment', 'ship_mode', 'country', 'products_cat']
size = 100000

final_simulation = get_categorical_dataset_simulated(simulation_extended, cetegory_cols, size)

final_simulation.shape

(100000, 4)

## Generando los valores de las columnas numéricas con la función utilizada en clase

In [841]:
def get_numeric_column_simulated(simulated, df_origin, categories, column_name):
    agg = df_origin.groupby(
        categories
        , as_index = False
    ).agg(
        {
            column_name: ["min","max","mean","std"]
        }
    )
    nc = [ c for c in categories ]
    nc.extend( ["min" , "max" , "mean" , "std"] )
    agg.columns = nc

    ColumnSimulated = pd.DataFrame()
    for i in agg.index:
        rs = agg.loc[i]
        OneSegmentShipCountryProd = simulated.loc[i].copy()

        print(f"Valores - min: {rs['min']}, max: {rs['max']}, mean: {rs['mean']}, std: {rs['std']}")
        
        if np.isnan(rs['std']):
            print(f"std: {rs['std']}")
    
        data = generate_truncated_normal_data(
            rs["min"] - 1 if rs["std"] == 0 or np.isnan(rs['std']) else rs["min"]
            , rs["max"] + 1 if rs["std"] == 0 or np.isnan(rs['std']) else rs["max"], 
            rs["mean"]
            , 1 if (rs["std"] <= 0 or np.isnan(rs['std'])) else rs["std"]
            , OneSegmentShipCountryProd.shape[0]
        )
    
        OneSegmentShipCountryProd[column_name] = data
    
        ColumnSimulated = pd.concat( [ ColumnSimulated , OneSegmentShipCountryProd  ] )

    return ColumnSimulated.reset_index(drop=True)

In [843]:
numeric_columns = ["quantity","sale price"]

# final_simulation = simulated.sort_index().reset_index(drop=True).copy()

for nc in numeric_columns:
    ncdf = get_numeric_column_simulated( final_simulation , simulation_extended , cetegory_cols , nc )

    final_simulation = pd.merge( final_simulation , ncdf.loc[ : , [nc] ] , left_index=True , right_index=True )

Valores - min: 1, max: 14, mean: 7.785714285714286, std: 3.886437392316465
Valores - min: 1, max: 14, mean: 7.647058823529412, std: 4.314817152420661
Valores - min: 1, max: 14, mean: 6.461538461538462, std: 4.313068988848208
Valores - min: 1, max: 14, mean: 6.833333333333333, std: 4.328428596805896
Valores - min: 4, max: 14, mean: 8.555555555555555, std: 3.2058973436118903
Valores - min: 2, max: 14, mean: 9.384615384615385, std: 3.9694345008338723
Valores - min: 1, max: 14, mean: 7.571428571428571, std: 4.164211731007364
Valores - min: 1, max: 13, mean: 6.428571428571429, std: 3.776736191970027
Valores - min: 1, max: 14, mean: 7.733333333333333, std: 4.0964560757992245
Valores - min: 1, max: 14, mean: 7.086956521739131, std: 3.462960418725585
Valores - min: 1, max: 13, mean: 7.428571428571429, std: 4.145698154329761
Valores - min: 4, max: 12, mean: 8.857142857142858, std: 3.4364987719368987
Valores - min: 3, max: 14, mean: 9.0, std: 3.927922024247863
Valores - min: 4, max: 14, mean: 9.0, std: 3.847076812334269
Valores - min: 1, max: 14, mean: 6.769230769230769, std: 4.621577042414674
Valores - min: 1, max: 10, mean: 6.846153846153846, std: 2.9395621512438956
Valores - min: 1, max: 13, mean: 7.277777777777778, std: 4.687976555296169
Valores - min: 1, max: 13, mean: 6.157894736842105, std: 3.2534282413536384
Valores - min: 2, max: 14, mean: 8.533333333333333, std: 3.814758308514571
Valores - min: 3, max: 14, mean: 8.142857142857142, std: 4.29839394148448
Valores - min: 2, max: 14, mean: 8.4375, std: 3.265348373451139
Valores - min: 1, max: 13, mean: 7.117647058823529, std: 3.838657853683636
Valores - min: 1, max: 14, mean: 8.571428571428571, std: 3.916715376518869
Valores - min: 1, max: 12, mean: 6.428571428571429, std: 3.652486733810178
Valores - min: 3, max: 14, mean: 8.36111111111111, std: 3.514482508362689
Valores - min: 1, max: 14, mean: 7.24, std: 4.023679907746142
Valores - min: 1, max: 14, mean: 7.086956521739131, std: 3.871962662740962
Valores - min: 1, max: 14, mean: 6.206896551724138, std: 4.003385267003304
Valores - min: 2, max: 13, mean: 7.045454545454546, std: 3.8107276236494547
Valores - min: 2, max: 14, mean: 9.277777777777779, std: 4.084483631494648
Valores - min: 1, max: 14, mean: 6.64, std: 3.9463062898529984
Valores - min: 1, max: 14, mean: 8.32, std: 4.038564101261735
Valores - min: 1, max: 14, mean: 8.695652173913043, std: 4.127896036929661
Valores - min: 1, max: 14, mean: 7.517241379310345, std: 4.256261686832476
Valores - min: 1, max: 14, mean: 7.484848484848484, std: 3.8252549924907955
Valores - min: 1, max: 14, mean: 8.26923076923077, std: 3.9044353477315235
Valores - min: 7, max: 14, mean: 9.6, std: 2.701851217221259
Valores - min: 3, max: 7, mean: 4.666666666666667, std: 1.632993161855452
Valores - min: 4, max: 14, mean: 8.333333333333334, std: 4.273952113286561
Valores - min: 2, max: 5, mean: 3.5, std: 2.1213203435596424
Valores - min: 4, max: 7, mean: 5.5, std: 1.2909944487358056
Valores - min: 2, max: 11, mean: 7.714285714285714, std: 2.984084768360628
Valores - min: 2, max: 11, mean: 6.2, std: 3.420526275297414
Valores - min: 2, max: 14, mean: 7.714285714285714, std: 4.070801956792859
Valores - min: 3, max: 14, mean: 6.375, std: 3.543101950067402
Valores - min: 2, max: 10, mean: 5.5, std: 2.6798914496333954
Valores - min: 1, max: 6, mean: 3.5, std: 3.5355339059327378
Valores - min: 8, max: 8, mean: 8.0, std: nan
std: nan
Valores - min: 1, max: 14, mean: 7.0, std: 4.932882862316247
Valores - min: 1, max: 14, mean: 7.0, std: 5.264435935053794
Valores - min: 1, max: 12, mean: 8.4, std: 4.8270073544588685
Valores - min: 3, max: 13, mean: 9.0, std: 3.6331804249169894
Valores - min: 1, max: 14, mean: 8.166666666666666, std: 4.041451884327381
Valores - min: 3, max: 14, mean: 9.0, std: 4.427188724235731
Valores - min: 2, max: 13, mean: 8.7, std: 4.029061098237817
Valores - min: 2, max: 13, mean: 7.666666666666667, std: 4.844240566555987
Valores - min: 2, max: 10, mean: 6.833333333333333, std: 2.7868739954771304
Valores - min: 1, max: 14, mean: 8.6, std: 4.880801391392834
Valores - min: 2, max: 14, mean: 6.875, std: 4.517821851923146
Valores - min: 1, max: 10, mean: 6.555555555555555, std: 3.3952581312438936
Valores - min: 1, max: 13, mean: 7.416666666666667, std: 4.9810245994781095
Valores - min: 2, max: 14, mean: 8.785714285714286, std: 4.060666323278851
Valores - min: 1, max: 14, mean: 8.277777777777779, std: 4.23994388913421
Valores - min: 1, max: 14, mean: 7.304347826086956, std: 4.342546201237406
Valores - min: 1, max: 14, mean: 7.571428571428571, std: 4.685727686928035
Valores - min: 1, max: 14, mean: 8.357142857142858, std: 4.27168031894391
Valores - min: 2, max: 14, mean: 8.466666666666667, std: 4.4539976692961165
Valores - min: 2, max: 14, mean: 8.0, std: 3.8956989858349287
Valores - min: 2, max: 13, mean: 7.3076923076923075, std: 3.8597196656539574
Valores - min: 1, max: 13, mean: 6.125, std: 4.333974311568232
Valores - min: 2, max: 13, mean: 7.538461538461538, std: 3.864698880365382
Valores - min: 1, max: 13, mean: 6.8, std: 4.212227100104782
Valores - min: 18, max: 433, mean: 223.57142857142858, std: 153.9698843109433
Valores - min: 52, max: 957, mean: 327.8235294117647, std: 259.68688725417906
Valores - min: 56, max: 925, mean: 417.0, std: 296.88157010273756
Valores - min: 20, max: 724, mean: 352.77777777777777, std: 203.9554609844009
Valores - min: 30, max: 431, mean: 152.77777777777777, std: 149.90311686033897
Valores - min: 47, max: 618, mean: 321.53846153846155, std: 177.46014359315325
Valores - min: 73, max: 824, mean: 312.85714285714283, std: 263.6871272908503
Valores - min: 66, max: 906, mean: 485.5, std: 282.96581745177957
Valores - min: 39, max: 718, mean: 277.93333333333334, std: 182.7275359133165
Valores - min: 65, max: 863, mean: 300.2173913043478, std: 212.68670012736385
Valores - min: 34, max: 756, mean: 345.64285714285717, std: 212.4858754193964
Valores - min: 62, max: 739, mean: 319.57142857142856, std: 224.81759802326945
Valores - min: 133, max: 762, mean: 467.3333333333333, std: 182.94755949126383
Valores - min: 86, max: 478, mean: 239.8181818181818, std: 136.010160048298
Valores - min: 77, max: 770, mean: 356.6923076923077, std: 194.41724229749815
Valores - min: 58, max: 1018, mean: 377.46153846153845, std: 281.3733034554556
Valores - min: 31, max: 745, mean: 351.27777777777777, std: 234.51647516578234
Valores - min: 33, max: 886, mean: 274.4736842105263, std: 203.50085132801797
Valores - min: 10, max: 609, mean: 263.26666666666665, std: 172.88702614575743
Valores - min: 172, max: 479, mean: 311.7142857142857, std: 126.66716791880769
Valores - min: 16, max: 768, mean: 361.75, std: 245.2806555764233
Valores - min: 70, max: 612, mean: 364.52941176470586, std: 183.14137901054025
Valores - min: 102, max: 720, mean: 364.14285714285717, std: 211.681857491871
Valores - min: 34, max: 471, mean: 245.07142857142858, std: 133.81701874385973
Valores - min: 16, max: 784, mean: 303.5833333333333, std: 213.60114700066572
Valores - min: 61, max: 962, mean: 408.84, std: 229.6518524491656
Valores - min: 58, max: 932, mean: 321.6521739130435, std: 215.33812918622405
Valores - min: 18, max: 921, mean: 332.13793103448273, std: 262.1461866072237
Valores - min: 78, max: 994, mean: 345.8636363636364, std: 246.7671536864826
Valores - min: 79, max: 741, mean: 379.27777777777777, std: 224.91457347063377
Valores - min: 119, max: 799, mean: 378.08, std: 185.30401146944084
Valores - min: 37, max: 848, mean: 349.44, std: 212.788643180661
Valores - min: 50, max: 893, mean: 391.2173913043478, std: 228.15842911166698
Valores - min: 31, max: 808, mean: 280.8965517241379, std: 212.07467431941214
Valores - min: 45, max: 999, mean: 310.3636363636364, std: 202.81515879332994
Valores - min: 22, max: 752, mean: 317.2692307692308, std: 219.78963718834567
Valores - min: 87, max: 394, mean: 270.0, std: 147.96790192470797
Valores - min: 127, max: 605, mean: 397.8333333333333, std: 169.35692092933982
Valores - min: 10, max: 313, mean: 196.0, std: 109.95271711058349
Valores - min: 223, max: 401, mean: 312.0, std: 125.86500705120545
Valores - min: 90, max: 413, mean: 237.0, std: 137.17385562368167
Valores - min: 61, max: 575, mean: 288.0, std: 210.4297190671191
Valores - min: 11, max: 981, mean: 381.0, std: 362.0145024719314
Valores - min: 162, max: 622, mean: 343.14285714285717, std: 158.81480679440082
Valores - min: 40, max: 618, mean: 352.0, std: 186.66624149611445
Valores - min: 16, max: 505, mean: 287.0, std: 155.9562875820133
Valores - min: 196, max: 933, mean: 564.5, std: 521.1376977344855
Valores - min: 445, max: 445, mean: 445.0, std: nan
std: nan
Valores - min: 13, max: 462, mean: 210.0, std: 168.89444435307317
Valores - min: 68, max: 650, mean: 382.5, std: 204.7242047243071
Valores - min: 156, max: 875, mean: 491.6, std: 258.82870783589675
Valores - min: 77, max: 620, mean: 318.6666666666667, std: 209.5544479763354
Valores - min: 16, max: 770, mean: 284.8333333333333, std: 248.8547708397349
Valores - min: 246, max: 734, mean: 385.6666666666667, std: 186.58260011766012
Valores - min: 59, max: 706, mean: 289.4, std: 223.2667562456275
Valores - min: 92, max: 820, mean: 438.6666666666667, std: 246.49029730735177
Valores - min: 13, max: 924, mean: 256.8333333333333, std: 337.37778033929067
Valores - min: 24, max: 742, mean: 318.9, std: 230.5767888482177
Valores - min: 15, max: 946, mean: 346.625, std: 297.7496251646915
Valores - min: 61, max: 817, mean: 295.1111111111111, std: 243.17197846608707
Valores - min: 24, max: 540, mean: 288.9166666666667, std: 170.60398499733145
Valores - min: 78, max: 950, mean: 373.7142857142857, std: 307.7377576322533
Valores - min: 90, max: 772, mean: 426.72222222222223, std: 175.09184331307736
Valores - min: 18, max: 646, mean: 331.39130434782606, std: 210.09321289077093
Valores - min: 21, max: 745, mean: 385.2857142857143, std: 210.2476300319838
Valores - min: 38, max: 895, mean: 356.07142857142856, std: 232.3910710206179
Valores - min: 90, max: 1127, mean: 380.53333333333336, std: 257.2163810231896
Valores - min: 29, max: 754, mean: 356.77777777777777, std: 224.04452171927417
Valores - min: 107, max: 571, mean: 319.0, std: 154.8407784360007
Valores - min: 45, max: 1002, mean: 287.75, std: 259.9911536956594
Valores - min: 60, max: 937, mean: 397.6923076923077, std: 291.698584334179
Valores - min: 197, max: 609, mean: 391.2, std: 131.7617980621524

In [845]:
final_simulation.to_csv('final_simulation.csv', sep=',')